div.top-bar {
    margin-bottom: 1em;
}
div.top-bar .hamburger,
div.top-bar .shopping-cart {
    color: white;
}

.shop-name {
    flex-grow: 1;
}


div.app-bar {
    background-color: var(--primaryColor);
}

